<form action='' id="auth-form" method="POST" style="padding: 10px;">
    {{form.hidden_tag()}}
    <div class="form-group">
        {{form.pass_phrase.label(class="form-label text-light")}}
        <br>
        {{form.pass_phrase(class="form-control")}}
    </div>
    <div class="form-group">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <small class="text-danger">{{msg}}</small>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <br>
    <button class="btn btn-lg btn-primary">Submit</button>
</form>