<form action="/repo/create" method="POST" id='create-form'>
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="col-md-8 col-xs-12">
            {{form.title.label}}
            {{form.title(class="form-control form-control-lg", placeholder="(Optional)")}}
            <small class="text-danger" id="title-errors"> </small>
        </div>
        <div class="col-md-4 col-xs-12">
            {{form.pass_phrase.label}}
            {{form.pass_phrase(class="form-control form-control-lg", placeholder="Required")}}
            <input type="checkbox" name="show_pw" id="show-pw-input">
            <label for="show-pw-input">Show</label>
            <small class="form-text">The password must be entered to edit the repository.</small>
            <small class="text-danger" id="pass_phrase-errors"> </small>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{form.description.label}}
            {{form.description(class="form-control", placeholder="(Optional)")}}
            <small class="text-danger" id="description-errors"> </small>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            {{form.is_private.label(class="form-check-label")}}
            {{form.is_private(class="form-check-input")}}
            <small class="form-text">
                The password must be entered to view the repository. <br>
                <i>Note: This still gives editing access.</i>
            </small>
        </div>
    </div>
    <br>
    <button class="btn btn-success">Create</button>
</form>