<form class="modal-form" id="repo-delete-form">
    <div class="alert text-center alert-warning">
        Are you sure you want to delete this repository?
        This action is not reversable.
    </div>
    <div class="form-group row justify-content-center text-center">
        <label class="form-label" for="repo-delete-pw">Enter password to confirm:</label>
        <input class="form-control w-50" type="password" id="repo-delete-pw" name="pass_phrase">
        <small class="text-danger" id="repo-delete-response"></small>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-2">
            <button class="btn btn-outline-secondary btn-lg" type="button" id="btn-close-repo-delete">Cancel</button>
        </div>
        <div class="col-2">
            <button class="btn btn-danger btn-lg" type="submit">Confirm</button>
        </div>
    </div>
</form>