{% extends 'base.html' %}

{% block og %}
    <meta property="og:title" content="LinkBin">
    <meta property="og:description" content="Save and share your links with style.">
{% endblock %}

{% block title %}
LinkBin
{% endblock %}

{% block content %}
<div class="landing-gradient"></div>
<div class="container">
    <div class="text-center">
        <h1 class="display-1 text-white">LinkBin</h1>
        <p class="text-white">Save and share your links with style.</p>
        <br>
        <div class="row">
            <div class="col text-white">
                {% if last_edited %}
                    Last Edited: <i><a class="link-light" href="/repo/{{last_edited.access_key}}">
                    {% if last_edited.title %}
                        {{last_edited.title}}
                    {% else %}
                        {{last_edited.access_key}}
                    {% endif %}
                    </a></i>
                {% endif %}
            </div>
            <div class="col text-white">      
                {% if last_viewed %}
                    Last Viewed: <i><a class="link-light" href="/repo/{{last_viewed.access_key}}"}>
                    {% if last_viewed.title %}
                        {{last_viewed.title}}
                    {% else %}
                        {{last_viewed.access_key}}
                    {% endif %}
                    </a></i>
                {% endif %}
            </div>
        </div>
        
    </div>
    <hr class="text-white">
    <div class="glass-white text-left" id="create-div">
        <h4>Create a new Repository</h4>
        {% include 'forms/create-repo.html' %}
    </div>
</div>
<div class="landing-footer" style="z-index: 2;">
    <a href="https://github.com/woozical/springboard-capstone-1">
        <i class="text-white bi bi-github"></i>
    </a>
    <a href="https://www.linkedin.com/in/mark-tilley/">
        <i class="text-white bi bi-linkedin"></i>
    </a>
</div>
<small class="landing-footer glass-black text-center text-white">
    This website utilizes cookies to provide core functionality. By continuing to make use of this website,
    you consent to the storing of cookies on your device.
</small>
{% endblock %}

{% block script %}
<script src="/static/js/landing.js"></script>
{% endblock %}