{% extends 'base.html' %}

{% block title %}404 - Not Found{% endblock %}

{% block content %}
<div class="container-fluid bg-card-grey border border-dark" style="height: 100vh;">
    <div class="row text-center mt-5 mb-5">
        <h1 class="text-light">404 - Not Found</h1>
        <p class="text-light">The requested URL was not found on the server. <br>
            If you entered the URL manually please check your spelling and try again.</p>
    </div>
    <div class="row justify-content-center align-content-center">
        <div class="col-6 text-center">
                <a href="/">Home</a>
        </div>
    </div>
</div>
{% endblock %}