{% extends 'base.html' %}

{% block title %}
Untitled Repo
{% endblock %}

{% block content %}
<!-- To Do: WTForms for forms? -->
<!-- To Do: Noscript version -->
<div class="container-fluid" style="margin-top: 1%;">
    <div class="row justify-content-around">
        <div class="col-9 bg-dark-grey rounded border border-dark" id="content">
            <div id="repo-info" class="rounded bg-header-grey">
                <h1 class="text-light" id="repo-title">{{repo.title}}</h1>
                <p class="text-dim-light" id="repo-desc">{{repo.description}}</p>
            </div>
            <br>
            <div class="text-dim-light" id="repo-entries">
                <noscript>
                    <div class="alert alert-warning">Javascript is required to use this website.</div>
                </noscript>
            </div>
        </div>
        <div class="col-auto text-center">
            <div id="controls" class="rounded border border-secondary">
            {% if session['working_repo'] == repo.access_key %}
                <div class="row">
                    <h4 class="text-white">Controls</h3>
                    <small id="help-btn" class="text-muted tip">(Help)</small>
                </div>
                <br>
                <div class="row justify-content-center">
                    <div class="col-11">
                        <form id="new-link-form" action="">
                            <textarea name="new" class="form-control" id="input-url" cols=36 rows="4" placeholder="Paste links here..."></textarea>
                        </form>
                    </div>
                </div>
                <br>
                <div class="row justify-content-md-center">
                    <div class="col-12">
                        <button title="Create Text Box" class="btn btn-lg btn-primary" id="btn-new-tbox"><i class="bi bi-blockquote-right"></i></button>
                        <button title="Add Links" form="new-link-form" class="btn btn-wide btn-lg btn-primary">
                            <i class="bi bi-link"></i>
                        </button>
                        <button title="Create Divider" class="btn btn-lg btn-primary" id="btn-new-divide"><i class="bi bi-hr"></i></button>
                    </div>
                </div>
                <br>
                <div class="row justify-content-center">
                    <div class="col-12">
                        <button title="Save Changes" class="btn btn-outline-success" id="btn-save-changes"><i class="bi bi-save2"></i></button>
                        <button title="Edit Repository Information" class="btn btn-outline-info" id="btn-edit-repo">
                            <i class="bi bi-gear"></i>
                        </button>
                        <button title="Delete Repository" class="btn btn-outline-danger" id="btn-delete-repo"><i class="bi bi-trash"></i></button>
                    </div>
                </div>
                <br>
                {% else %}
                <button id="btn-auth-repo">Edit</button>
                {% endif %}
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="text-center alert" id="flashes"><span>&#8203;</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modals -->
    <div class="modal" role="status" id="loading">
        <div class="text-center">
            <div class="text-white spinner-border spin-center" style="width: 5rem; height: 5rem;">
              <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
    <div class="modal" id="help-modal">
        {% include 'docs/help.html' %}
    </div>
    {% if session['working_repo'] == repo.access_key %}
    <div class="modal" role="dialog" id="repo-delete-div">
        {% include 'forms/repo-delete.html' %}
    </div>
    <div class="modal" role="form" id="repo-edit-div">
        {% include 'forms/repo-edit.html' %}
    </div>
    <div class="modal" id="entry-edit-div">
        {% include 'forms/entry-edit.html' %}
    </div>
    {% endif %}
    <!--  -->
</div>

{% endblock %}

{% block script %}
<script src="/static/app.js"></script>
{% if session.get('working_repo') == repo.access_key %} 
    <script>
        const viewState = 1;
        loadRepoData('{{repo.access_key}}');
    </script>
{% else %}
    <script>
        const viewState = 0;
        loadRepoData('{{repo.access_key}}');
    </script>
{% endif %}
{% endblock %}