{% extends 'base.html' %}

{% block title %}
{% if repo.title %}
{{repo.title}}
{% else %}
untitled repo
{% endif %}
{% endblock %}

{% block content %}
    <h1>Repo View
        {% if repo.title %}
        - {{repo.title}}
        {% endif %}
    </h1>
    {% if repo.description %}
        <p>{{repo.description}}</p>
    {% else %}
        <p>Here's where the links live</p>
    {% endif %}

    <div id="link-list"></div>

{% endblock %}

{% block script %}
<script src="/static/app.js"></script>
<script>
    // main js already loaded
    // make api call to load data of {{access_key}}
    // SECURITY ISSUE: User can call with access key, need to request -> server prompts auth -> client sends credentials -> gets data
    loadRepoData('{{repo.access_key}}')
</script>
{% endblock %}